<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="synergyviewcore.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="synergyviewcore.intro.Perspective"
            id="synergyviewcore.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="synergyviewcore.application"
            name="Collaborative Video Analysis Tool">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Collaborative Video Analysis Tool">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customisation.ini">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="synergyviewcore.intro">
      </intro>
      <introProductBinding
            introId="synergyviewcore.intro"
            productId="synergyviewcore.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="synergyviewcore.intro"
            content="introContent.xml"
            id="synergyviewcore.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="menu.main.study"
               label="%menu.main.study">
            <menu
                  label="New">
               <command
                     commandId="synergyviewcore.project.CreateProjectCommand"
                     icon="icons/study-open.png"
                     label="Create Study"
                     style="push">
                  <visibleWhen
                        checkEnabled="true">
                     <with
                           variable="activePartId">
                        <equals
                              value="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart">
                        </equals>
                     </with>
                  </visibleWhen>
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activePartId">
                  <equals
                        value="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="menu.main.tools"
               label="%menu.main.tools">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="menu.main.help"
               label="%menu.main.help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  label="Documentation"
                  style="push">
            </command>
            <command
                  commandId="synergyviewcore.p2.rcpupdate.update"
                  label="Check for Updates"
                  style="push">
            </command>
         </menu>
        
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart?after=additions">
         <menu
               id="popupNewSubMenu"
               label="New">
            <command
                  commandId="synergyviewcore.project.CreateProjectCommand"
                  icon="icons/study-open.png"
                  label="Study"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activePartId">
                     <equals
                           value="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="synergyviewcore.workspace.menu.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="synergyviewcore.project.RenameProjectCommand"
               label="Rename..."
               style="push">
         </command>
         <separator
               name="synergyviewcore.workspace.menu.separator2"
               visible="true">
         </separator>
         <command
               commandId="synergyviewcore.project.OpenProjectCommand"
               label="Open..."
               style="push">
            <visibleWhen>
            	 <with
                  variable="activeMenuSelection">
               <iterate
                     operator="and">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="false">
                  </test>
               </iterate>
            </with>
            </visibleWhen>
         </command>
         <command
               commandId="synergyviewcore.project.CloseProjectCommand"
               label="Close..."
               style="push">
            <visibleWhen>
            	 <with
                  variable="activeMenuSelection">
               <iterate
                     operator="and">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="true">
                  </test>
               </iterate>
            </with>
            </visibleWhen>
         </command>
         <separator
               name="synergyviewcore.workspace.menu.separator3"
               visible="true">
         </separator>
         <menu
               id="sharingSubMenu"
               label="Sharing">
            <command
                  commandId="synergyviewcore.sharing.ShareProjectCommand"
                  icon="icons/study-shared.png"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           operator="and">
                        <instanceof
                              value="synergyviewcore.project.ui.model.StudyNode">
                        </instanceof>
                        <test
                              forcePluginActivation="false"
                              property="synergyviewcore.workspace.commands.isProjectShared"
                              value="false">
                        </test>
                        <test
                              property="synergyviewcore.workspace.commands.isProjectOpened"
                              value="true">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="synergyviewcore.sharing.CheckoutRepositoryCommand"
                  icon="icons/study-remote.png"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:synergyviewcore.collection.MediaCollectionExplorerViewPart?after=additions">
         <menu
               id="newSubMenu"
               label="New">
            <command
                  commandId="synergyviewcore.collection.CreateMediaCollectionCommand"
                  label="Media Collection"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activePartId">
                     <equals
                           value="synergyviewcore.collection.MediaCollectionExplorerViewPart">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activePartId">
                  <equals
                        value="synergyviewcore.collection.MediaCollectionExplorerViewPart">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="synergyviewcore.separator2"
               visible="true">
         </separator>
         <command
               commandId="synergyviewcore.collection.EditMediaCollectionEntry"
               label="Edit Media Collection Entries"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <instanceof
                           value="synergyviewcore.collection.ui.model.MediaCollectionNode">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="synergyviewcore.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:synergyviewcore.media.MediaExplorerViewPart?after=additions">
         <menu
               label="Delete">
            <command
                  commandId="synergyviewcore.media.DeleteMediaDataCommand"
                  label="Media Item"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           operator="or">
                        <instanceof
                              value="synergyviewcore.media.ui.model.MediaNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="synergyviewcore.media.DeleteMediaResourceCommand"
                  label="File Only"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           operator="or">
                        <instanceof
                              value="synergyviewcore.media.ui.model.MediaNode">
                        </instanceof>
                        <test
                              forcePluginActivation="false"
                              property="synergyviewcore.media.commands.isMediaResourceFileAvailable"
                              value="true">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart"
            id="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart"
            name="Study Explorer"
            restorable="true">
      </view>
      <view
            class="synergyviewcore.media.ui.views.MediaExplorerViewPart"
            id="synergyviewcore.media.MediaExplorerViewPart"
            name="Media Explorer"
            restorable="true">
      </view>
         <view
         name="Progress View"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView">
   </view>
         <view
               class="synergyviewcore.collection.ui.views.MediaCollectionExplorerViewPart"
               id="synergyviewcore.collection.MediaCollectionExplorerViewPart"
               name="Media Collection Explorer"
               restorable="true">
         </view>
         <view
               class="synergyviewcore.media.ui.views.VideoPlayerViewPart"
               id="synergyviewcore.media.VideoPlayerViewPart"
               name="Video Player"
               restorable="true">
         </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="synergyviewcore.project.CreateProjectCommand"
            name="Create Study">
      </command>
      <command
            id="synergyviewcore.project.RenameProjectCommand"
            name="Rename Study">
      </command>
      <command
            id="synergyviewcore.project.OpenProjectCommand"
            name="Open Study">
      </command>
      <command
            id="synergyviewcore.project.CloseProjectCommand"
            name="Close Study">
      </command>
      <command
            id="synergyviewcore.sharing.ShareProjectCommand"
            name="Share Study">
      </command>
      <command
            id="synergyviewcore.sharing.CheckoutRepositoryCommand"
            name="Download remote Studies">
      </command>
      <command
            id="synergyviewcore.collection.CreateMediaCollectionCommand"
            name="Create Media Collection">
      </command>
      <command
            id="synergyviewcore.media.DeleteMediaResourceCommand"
            name="Delete Media File">
      </command>
      <command
            id="synergyviewcore.media.DeleteMediaDataCommand"
            name="Delete Media Item">
      </command>
      <command
            id="synergyviewcore.collection.EditMediaCollectionEntry"
            name="Edit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="synergyviewcore.workspace.handler.CreateStudyHandler"
            commandId="synergyviewcore.project.CreateProjectCommand">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="synergyviewcore.workspace.ui.view.StudyWorkspaceExplorerViewPart">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="synergyviewcore.workspace.handler.DeleteStudyHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="synergyviewcore.workspace.handler.RenameStudyHandler"
            commandId="synergyviewcore.project.RenameProjectCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="synergyviewcore.workspace.handler.OpenStudyHandler"
            commandId="synergyviewcore.project.OpenProjectCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="false">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="synergyviewcore.workspace.handler.CloseStudyHandler"
            commandId="synergyviewcore.project.CloseProjectCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="synergyviewcore.sharing.handler.ShareProjectHandler"
            commandId="synergyviewcore.sharing.ShareProjectCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="synergyviewcore.project.ui.model.StudyNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.workspace.commands.isProjectOpened"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="synergyviewcore.sharing.handler.CheckoutRepositoryHandler"
            commandId="synergyviewcore.sharing.CheckoutRepositoryCommand">
      </handler>
      <handler
            class="synergyviewcore.collection.handler.CreateMediaCollectionHandler"
            commandId="synergyviewcore.collection.CreateMediaCollectionCommand">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="synergyviewcore.collection.MediaCollectionExplorerViewPart">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="synergyviewcore.media.handler.DeleteMediaResourceFileHandler"
            commandId="synergyviewcore.media.DeleteMediaResourceCommand">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.media.ui.model.MediaNode">
                  </instanceof>
                  <test
                        forcePluginActivation="false"
                        property="synergyviewcore.media.commands.isMediaResourceFileAvailable"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="synergyviewcore.media.handler.DeleteMediaDataHandler"
            commandId="synergyviewcore.media.DeleteMediaDataCommand">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.media.ui.model.MediaNode">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="synergyviewcore.collection.handler.DeleteMediaCollectionHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.collection.ui.model.MediaCollectionNode">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="synergyviewcore.collection.handler.EditMediaCollectionEntriesHandler"
            commandId="synergyviewcore.collection.EditMediaCollectionEntry">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="synergyviewcore.collection.ui.model.MediaCollectionNode">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="synergyviewcore.workspace.commands.StudyStatePropertyTester"
            id="synergyviewcore.workspace.commands.ProjectStatePropertyTester"
            namespace="synergyviewcore.workspace.commands"
            properties="isProjectShared, isProjectOpened"
            type="synergyviewcore.project.ui.model.StudyNode">
      </propertyTester>
      <propertyTester
            class="synergyviewcore.media.ui.MediaResourceFileAvailablePropertyTester"
            id="synergyviewcore.media.MediaResourceFileAvailablePropertyTester"
            namespace="synergyviewcore.media.commands"
            properties="isMediaResourceFileAvailable"
            type="synergyviewcore.media.ui.model.MediaNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="synergyviewcore.sharing.ui.preference.SnvServerPreferencePage"
            id="synergyviewcore.sharing.ui.preference.SnvServerPreferencePage"
            name="Sharing">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="synergyviewcore.collection.ui.dialog.MediaCollectionPropertyPage"
            id="synergyviewcore.collection.MediaCollectionPropertyPage"
            name="Media Collection Property"
            nameFilter="*.*">
         <enabledWhen>
            <adapt
                  type="synergyviewcore.collection.ui.model.MediaCollectionNode">
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
